
h1 {
	font-size: 48px;
	font-weight: 800;
}

h2 {
	font-size: 40px;
	font-weight: 700;
}

h3 {
	font-size: 36px;
	font-weight: 700;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 12px;
}

p {
	font-size: 18px;
}
